.main{
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
  margin-left: 2rem;
  font-size: 16px;
}
.sidebar_title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Noto Sans", sans-serif;
}



.sidebar_label_container .input {
  display: block;
  position: absolute;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.all {
  background: linear-gradient(blue, crimson);
}

.input ~ .checkmark {
  background-color: #ccc;
}

.input:checked  {
  background-color: #2196f3;
  
}
.checkmark{
  background-color: #2196f3;
  
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  
}

.input:checked ~ .checkmark:after{
  display: block;
}

.sidebar_label_container .checkmark:after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  margin-right: 10px;
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
}
