
.sidebar {
  font-family: "Noto Sans", sans-serif;
  width: 18%;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 2px solid #e5e5e5;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr;
  align-items: center;
  margin-left: 2rem;
  padding-bottom: 15px;
  margin-top: 0rem;
  height: auto;
}


.sidebar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  border-radius: 10px;
}

.logo_container {
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sid_h1{
  font-size: 22px;
  font-weight: normal;
  margin: 5px auto;
  width: 100%;
  color: #333;
  text-align: left;
}
.label {
  font-size: 16px;
  font-weight: bold;
  margin: 5px auto;
  width: 100%;
  color: #333;
  text-align: left;
}

.search_input {
  padding: 12px 20px;
  border: none;
  background: #f7f6f6;
  outline: none;
  margin-right: 20px;
  border-radius: 15px;
  position: relative;
  width: 14rem;
  transition: background-color 0.2s ease;
}

.search_input:focus {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

